/* Author: Matthew Jared */
/*  Class: CIS-130       */
/*   Date: 06/07/2023    */


  * {
    margin: 0px;
    padding: 0px;
 } 

 img {
    float: right;
 }

.NavContainer {
    height: 200px;
    background-image: url("/images/navbackground.avif") ;
    background-repeat: no-repeat;
    background-size: cover;

}

.Title {
    position: relative; left: 100px; top: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 42px;
}

.SubTitle {
    position: relative; left: 140px; top: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-right: 60px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    border-top: 1px solid rgb(52, 52, 52);
    border-bottom: 1px solid rgb(52, 52, 52);

}

.NavFlex {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(85, 107, 47, 0.71);
    border: 1px solid rgb(52, 52, 52); 
 
}


a {
    font-size: 30px;
    color: aliceblue;
    text-decoration: none;
    
}

a:hover {
    background-color: rgba(41, 41, 41, 0.331);

}


.MenuContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
    width: 100%;
    height: auto;

    flex-wrap: wrap;

}

.PizzaBox {
    display: flex;
    flex: 1 1 400px;
    max-width: 425px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgba(90, 90, 90, 0.568);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.imgflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: aliceblue;
    /* border: 2px solid brown; */
}


.orderformcontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    background-color: lightslategray;
    /* flex-direction: column; */
    padding: 50px;
}


.orderform {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding: 10px;
    background-color: aliceblue;
    min-width: 200px;
}

.review {
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: right;
    text-align: center;
    border: 1px solid rgb(0, 0, 0) ;
    box-shadow: 12px 12px 5px 2px grey;
    margin: 15px;
    flex-shrink: 1;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    background-color: rgba(85, 107, 47, 0.71);
    justify-content: center;
    align-items: center;
}



/* images */

/* menu */
img[src="images/pizza_Cheese.webp"] {
    min-width: 395px;
    border: 2px solid black;

}

img[src="images/pizza_Pepperoni.avif"] {
    min-width: 395px;
    border: 2px solid black;

}

img[src="images/pizza_Supreme.avif"] {
    min-width: 395px;
    border: 2px solid black;

}


img[src="images/MeatLovers_RecipeTile_Web_175x210.webp"] {
    min-width: 395px;
    border: 2px solid black;

}


img[src="images/pizza_Veggie_Lovers.webp"]  {
    min-width: 395px;
    border: 2px solid black;

}

img[src="images/HawaiianChicken_RecipeTile_Web_175x203.webp"] {
    min-width: 395px;
    border: 2px solid black;

}

/* order forum */
img[src="socialmediaicons.jpg"] {
    max-width: 200px;
    
}


