/* Author: Matthew Jared */
/*  Class: CIS-130       */
/*   Date: 06/07/2023    */


  * {
    margin: 0px;
    padding: 0px;
 } 

 img {
    float: right;
 }

.NavContainer {
    height: 200px;
    background-image: url("/images/navbackground.avif") ;
    background-repeat: no-repeat;
    background-size: cover;

}

.Title {
    position: relative; left: 100px; top: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 42px;
}

.SubTitle {
    position: relative; left: 140px; top: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-right: 60px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    border-top: 1px solid rgb(52, 52, 52);
    border-bottom: 1px solid rgb(52, 52, 52);

}

.NavFlex {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(85, 107, 47, 0.71);
    border: 1px solid rgb(52, 52, 52); 
 
}


a {
    font-size: 32px;
    color: aliceblue;
    text-decoration: none;
    
}

a:hover {
    background-color: rgba(41, 41, 41, 0.331);

}


.MenuContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
    max-width: 100%;
    /* margin: 0px;
    padding: 0px; */
    flex-wrap: wrap;

}

.PizzaBox {
    display: flex;
    flex: 1 1 400px;
    max-width: 425px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: aqua;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
}

.imgflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* border: 2px solid brown; */
}


img {
    max-width: 400px;
}



.orderformcontainer {
    display: flex;
    flex-direction: column;
}